.about {
  &__card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 245, 235, 1);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 0 auto; // Center the card
    max-width: 1160px;
    padding: 20px;

    @include respond-to(inter) {
      flex-direction: column;
      margin: 0 20px;
    }
  }

  &__card-image {
    width: 350px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

    @include respond-to(inter) {
      margin-bottom: 40px;
      margin-right: 0;
    }

    @include respond-to(medium) {
      width: 270px;
    }
  }

  &__card-text {
    flex: 1;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;

    @include respond-to(medium) {
      font-size: 1rem;
    }
  }
}
