.navbar-opacity {
  width: 100%;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-nav {
    text-align: center;
  }

  .nav-link {
    margin: 0 15px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
  }

  .logo {
    width: 190px;
    height: auto;
    margin-right: 20px; // Adjust spacing as needed
  }

  .instagram-logo {
    width: 50px; // Adjust size as needed
    height: auto;
    margin-right: 10px;
  }

  .linkedIn-logo {
    width: 50px; // Adjust size as needed
    height: auto;
    margin-right: 10px;
  }

  .youtube-logo {
    width: 60px; // Adjust size as needed
    height: auto;
    margin-right: 10px;
  }

  .logo-nav {
    margin: 0;
  }
}