.header {
  width: 100%;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-to(custom) {
      flex-direction: column;
    }
  }

  &__brand {
    display: flex;
    align-items: center;
    margin-right: 50px;

    @include respond-to(custom) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  &__logo {
    width: 190px;
    height: auto;
    padding-left: 15px;

    @include respond-to(large) {
      width: 150px;
      padding-left: 0;
    }

    @include respond-to(custom) {
      width: 250px;
      padding-left: 0;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    gap: 50px;

    @include respond-to(custom) {
      flex-direction: column;
      gap: 0;
    }
  }

  &__nav-link {
    position: relative;
    padding: 10px 15px;
    font-size: 1.2rem;
    transition: color 0.3s, transform 0.3s;
    color: #000;
    text-decoration: none;

    @include respond-to(inter) {
      font-size: 1rem;
    }

    @include respond-to(custom) {
      font-size: 2rem;
    }

    &:hover {
      color: #555;
      transform: scale(1.05);
      text-decoration: none;
    }

    &--active {
      color: #000 !important;
      font-weight: bold;
      text-decoration: none;
      transform: scale(1.1);
    }
  }

  &__social {
    display: flex;
    align-items: center;
    margin-left: 50px;

    @include respond-to(custom) {
      margin-left: 0;
      margin-top: 10px;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      gap: 30px;

    }
  }

  &__social-link {
    display: flex;
    align-items: center;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    text-decoration: none;

    &:hover {
      transform: scale(1.2);
      color: #555;
      text-decoration: none;
    }

    img {
      width: 24px;
      height: 24px;
      transition: transform 0.3s ease-in-out;

      @include respond-to(custom) {
        width: 50px;
        height: 50px;
      }
    }
  }

  &__social-logo {
    width: 30px;
    height: auto;
  }
}
