.home-content {
  position: relative;
  padding-bottom: 40px;

  .home-content__three-columns {
    display: flex;
    justify-content: space-around;
    gap: 10px; // Add space between the columns
    margin: auto;
    max-width: 1300px;
  }

  .home-content__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; // Center titles horizontally
    padding: 20px;
    background-color: rgba(255, 245, 235, 1);
    min-height: 300px; // Ensure there's enough height for vertical centering
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); // Add shadow to columns for a floating effect
    border-radius: 20px;
    margin: 0 20px 0 20px;

    h2 {
      font-size: 2rem;
      margin-bottom: 15px;
      text-align: center; // Center titles horizontally
      width: 100%; // Ensure titles take full width
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      text-align: center;
      width: 100%; // Ensure contents take full width
      height: 100%; // Ensure it takes full height
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
      text-align: center;
      width: 100%; // Take up all available horizontal space
    }
  }

  .home-content__column--middle {
    background-color: rgba(220, 200, 180, 1); // Slightly darker background color
  }
}
